* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize; }

nav .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem; }
  nav .header .logo-img > a {
    margin-left: 30px;
    margin-top: 50px;
    font-size: 0.6rem;
    position: absolute;
    text-decoration: none;
    list-style-type: none; }
  nav .header .logo-img {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }
    nav .header .logo-img img {
      width: 20%;
      margin-right: 20px; }
    nav .header .logo-img .icon {
      margin: 5px 0 0 0; }
    nav .header .logo-img .icon-2 {
      color: #11d8d8;
      margin-left: 10px;
      font-size: 50px; }
    nav .header .logo-img .terget {
      margin-top: 5px;
      border: 2px solid black;
      width: 40%;
      height: 35px;
      border-radius: 5px; }
      nav .header .logo-img .terget input {
        outline: none;
        border: none;
        margin: 5px 48% 5px 5px; }
  nav .header ol {
    margin-top: 10px;
    text-decoration: none;
    list-style-type: none; }
    nav .header ol a {
      text-decoration: none;
      list-style-type: none;
      color: #534545; }
nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #694ba1;
  width: 100%;
  height: 5vh; }
  nav .navbar .dropdown:hover .drop-content {
    display: block; }
  nav .navbar .dropdown:hover .drop-content-2 {
    display: block; }
  nav .navbar .dropdown {
    position: relative;
    display: block;
    padding: 5px 30px 5px 0;
    cursor: pointer; }
    nav .navbar .dropdown:hover {
      display: block;
      background-color: #8367b8; }
    nav .navbar .dropdown .dropbtn {
      color: #fff; }
    nav .navbar .dropdown .drop-content {
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 160px;
      -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      margin-top: 10px; }
      nav .navbar .dropdown .drop-content a {
        display: block;
        text-decoration: none;
        list-style-type: none;
        color: #534545;
        padding: 12px 16px; }
        nav .navbar .dropdown .drop-content a:hover {
          background-color: #ddd4d4;
          display: block; }
    nav .navbar .dropdown .drop-content-2 {
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 500px;
      -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      margin-top: 10px; }
      nav .navbar .dropdown .drop-content-2 a {
        float: left;
        width: 25%;
        line-height: 1em;
        text-decoration: none;
        list-style-type: none;
        color: #534545;
        padding: 6px 8px; }
        nav .navbar .dropdown .drop-content-2 a:hover {
          background-color: #ddd4d4; }

#main-body {
  background-color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #main-body img {
    padding: 15% 0 0 0;
    width: 30%; }
  #main-body .search-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #main-body .search-bar input {
      line-height: 50px;
      height: 50px;
      padding: 0 400px 0 20px;
      max-width: 800px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 1.3rem;
      outline-color: #694ba1; }
    #main-body .search-bar .btn-submit {
      padding: 0 20px;
      background-color: #694ba1;
      border: none;
      border-radius: none;
      cursor: pointer; }
      #main-body .search-bar .btn-submit .fa-magnifying-glass {
        font-size: 20px;
        color: #fff; }
  #main-body .logo-content {
    color: #16c7df;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 0 2rem 0; }
  #main-body .trend-btn {
    font-family: "Playfair Display", system-ui;
    background-color: #694ba1;
    margin-top: 5px;
    padding: 10px 5rem;
    border-radius: 4px;
    margin-bottom: 20px; }
    #main-body .trend-btn h3 {
      color: #fff; }
    #main-body .trend-btn:hover {
      background-color: #523b7e;
      cursor: pointer; }

#text {
  text-align: center; }
  #text h3, #text h4, #text p {
    font-family: "EB Garamond", serif;
    margin-bottom: 1rem; }

#Theme {
  background-color: #694ba1;
  margin-bottom: 25px; }
  #Theme .sidebar {
    background-color: #3c2b5b;
    height: 4vh;
    width: 100%; }
  #Theme .switch-container {
    text-align: right;
    color: #ccc;
    padding-right: 10rem; }
  #Theme .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    background-color: #ccc;
    border-radius: 40%;
    top: 5px;
    margin-right: 10px; }
  #Theme .switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0; }
  #Theme .sidebar {
    position: absolute;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s; }
  #Theme .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    border-radius: 50%;
    left: 3px;
    bottom: 3px;
    background-color: #694ba1;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%; }
  #Theme input:checked + .slider {
    background-color: #2196F3; }
  #Theme input:checked + .slider:before {
    -webkit-transform: translateX(14px);
            transform: translateX(14px); }

#theme-details {
  padding: 5px 10% 5px 10%;
  margin-top: 10px;
  background-color: #6b4da4; }
  #theme-details .Anime {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #ccc;
    margin-bottom: 20px;
    margin-top: 10px; }
    #theme-details .Anime span {
      margin: 0 5px 0 5px; }
  #theme-details .Anime-list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    #theme-details .Anime-list div {
      margin: 0 12px 8px 0;
      border: #ccc;
      padding: 5px;
      background-color: #ccc; }
      #theme-details .Anime-list div:hover {
        background-color: #8367b8; }
    #theme-details .Anime-list a {
      text-decoration: none;
      list-style-type: none;
      color: #000;
      background-color: transparent; }

#naruto-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px; }
  #naruto-logo .center {
    text-align: center;
    line-height: 1.2; }
    #naruto-logo .center img {
      width: 30%; }
    #naruto-logo .center .space {
      padding: 5px; }
    #naruto-logo .center p {
      text-align: center;
      color: #fff; }
    #naruto-logo .center .different {
      color: #a08ac8; }
  #naruto-logo .Right, #naruto-logo .Right-2 {
    margin: 0 4rem 0 0;
    color: #fff; }
    #naruto-logo .Right a, #naruto-logo .Right-2 a {
      text-decoration: none;
      list-style-type: none;
      line-height: 1.2;
      color: #a08ac8; }
      #naruto-logo .Right a:hover, #naruto-logo .Right-2 a:hover {
        color: #fff; }
  #naruto-logo .left-image {
    margin-top: -50px; }

#footer {
  margin: 5px 15% 0 15%;
  text-align: left;
  line-height: 1.2;
  font-family: 'Times New Roman', Times, serif; }
  #footer h4 {
    text-align: center;
    margin-bottom: 5px; }
  #footer .h1, #footer h2, #footer h3, #footer h5, #footer h6, #footer p {
    margin: 7px 0 7px 0; }
